<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zmg.book.mapper.sybasemapper.DepSybaseMapper">
    <select id="getAll" resultType="com.zmg.book.entity.Departments">
        select * from Departments
    </select>

    <select id="selectById" parameterType="long" resultType="com.zmg.book.entity.Departments">
        SELECT * FROM Departments WHERE DepartmentID = #{id}
    </select>
</mapper>